<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oneroom Network</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.mobile.flatui.css') }}"/>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mobile-1.4.0-rc.1.js') }}"></script>

    <script>
        $(function(){
             $("#curtainBar").bind('change', reqCurtain);
             $("#windowBar").bind('change', reqWindow);
        })

        function reqCurtain(){
            var data = 0;
            if($("#curtainBar").val() == "ON"){
                data = 0;
            }else{
                data = 1;
            }

            alert(data);

            $.ajax({
                url : "reqCurtainControl",
                method : "POST",
                data : "flag=" + data,
                success : function(data){
                    alert("성공!");
                },
                error : function(){
                    alert("실패!");
                }
            });
        }

        function reqWindow(){
            var data = 0;
            if($("#windowBar").val() == "ON"){
                data = 0;
            }else{
                data = 1;
            }

            $.ajax({
                url : "reqWindowControl",
                method : "POST",
                data : "flag=" + data,
                success : function(data){
                    alert("성공!");
                },
                error : function(){
                    alert("실패!");
                }
            });
        }


    </script>
    <style>
        table{
            border-collapse: collapse;
            width:100%;
        }
    </style>
</head>
<body>

<div data-role="page">
    {% include 'header.html' %}
    <div data-role="content" role="main" style="margin-top:35%;">
        <table style="text-align: center;">
            <tr>
                <td><h2>커튼</h2></td>
                <td style="width: 40%">
                    <select id="curtainBar" data-role="slider">
                      <option value="off">OFF</option>
                      <option value="on">ON</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><h2>창문</h2></td>
                <td>
                    <select id="windowBar" data-role="slider">
                      <option value="off">OFF</option>
                      <option value="on">ON</option>
                    </select>
                </td>
            </tr>
        </table>            
    </div>
    <div data-role="content" style="margin-top:10%;">
        <fieldset class="ui-grid-a">
            <button onclick="location.href='cctv'" style="width:50%;margin-left: 25%">CCTV</button>
        </fieldset>
    </div>

    {% include 'footer.html' %}
</div>
</body>
</html>