<style>
    .homeBtn{
        background-image: url({{ url_for('static', filename='img/logo.png') }});
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-width:0px;
        width: 90%;
        height: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 0 5% 5%;
        position: fixed;
    }
</style>

<div class="homeBtn" data-role="button" onclick="location.href='main'">
    <div id="dhtInfoDiv" style="font-size: 15pt" align="right">
        온도 : 27도<br>
        습도 : 27％
    </div>
</div>

<script type="text/javascript">
        $.ajax({
            url : "getDHT11",
            method : "POST",
            dataType : "json",
            success : function(data){
                $("#dhtInfoDiv").html("온도 : " + data.temp + "도<br>습도 : " + data.humi + "％");
            },
            error : function(){
                alert("온습도 정보를 가져오지 못했습니다.");
            }
        });
</script>
