<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oneroom Network</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.mobile.flatui.css') }}"/>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mobile-1.4.0-rc.1.js') }}"></script>

    <script>
        $(function(){
          $.ajax({
            url : "videoList",
            method : "GET",
            success : function(data){
              video = data.video;
              list = $('#videoList');
              for(var i=0; i<video.length; i++){
                list.append("<li data-icon='video'><a href=\"#videoPop\" data-rel=\"popup\" class=\"ui-btn ui-btn-inline ui-corner-all\" data-position-to=\"window\" onclick=\"videoChange('"+video[i]+"')\">"+video[i]+"</a></li>");
              }

              $("#pageone").trigger('create');

            },
            error : function(){
              alert("error");
            }
          });
        })

        function videoChange(videoName){
          pop = $('#videoPop');
          pop.empty();
          pop.append("<video width=\"320\" height=\"240\" controls>"
            +"<source src='static/video/"+videoName+"'"
            +"type=\"video/mp4\"></video>");
            
        }

    </script>
    <style>
        ul{
            margin-bottom:100px
        }
    </style>

</head>
<body>

<div data-role="page" id="pageone">
    {% include 'header.html' %}
  <div data-role="main" class="ui-content" style="text-align: center;">
    <h2>녹화 영상</h2>
    <ul data-role="listview" data-inset="true" id="videoList">
    </ul>
    <div data-role="popup" id="videoPop" class="ui-content">
      <p></p>
    </div>
  </div>
    {% include 'footer.html' %}
</div>
</body>
</html>