<html>
<head>
    <title>Pet Feeder</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
    <h1>Pet Feeder</h1>
    <video poster="{{ url_for('video_feed') }}"></video>
    <br>
    <br>
    <button>Feed</button>

    <script>
        $('button').click(function(){
            $.get('video_feed')
            .done(function(data){
                if(data == '1'){
                    alert('Success!');
                }else{
                    alert('Fail!');
                }
            });
        });
    </script>
</body>
</html>